<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>数据可视化</title>
    <style>
        body {
            color: blue;
            background:url("img/back1.png")  no-repeat center center;
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment:fixed;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<h2 style="text-align: center;">赵鹏218采集数据可视化</h2>
<div style="text-align: center; margin:10px auto;">
    <a href="/index" rel="external nofollow">
        <h2>点我返回动态列表展示</h2>
    </a>
</div>

<div id="supersonic" style="display:inline-block;width: 45%;height:400px;margin-left: 50px"></div>
<div id="hum" style="display:inline-block;width: 45%;height:400px;"></div>
<div id="temp" style="display:inline-block;width: 45%;height:400px;margin-left: 50px"></div>
<div id="address" style="display:inline-block;width: 45%;height:400px;"></div>
<!--<div id="people" style="display:inline-block;width: 45%;height:400px;"></div>-->
<script>
    draw();
    var tempChart = echarts.init(document.getElementById('temp'));
    var humChart = echarts.init(document.getElementById('hum'));
    var supersonicChart = echarts.init(document.getElementById('supersonic'));
    var addressChart = echarts.init(document.getElementById('address'));
    // var peopleChart = echarts.init(document.getElementById('people'));

    function draw() {
        var data;
        $.ajax({
            url: '/selectAllCollData',
            type: 'get',
            dataType: 'json',
            success: function (data) {
                var address = [];
                var supersonic = [];
                //var isPeople = 0;
                var temp = [];
                var hum = [];
                var count1 = 0;
                var count2 = 0;
                /**采集时间*/
                var collTime = [];
                console.log(data)
                // data = data.data

                //最大显示30个数字
                for (let i = 29; i >= 0; i--) {
                    address.push(data[i].address);
                    supersonic.push(data[i].supersonic)
                    if (data[i].address == "1")
                    {
                        count1++;
                    }else if(data[i].address == "2")
                    {
                        count2++;
                    }
                    temp.push(data[i].temp)
                    hum.push(data[i].hum)
                    collTime.push(data[i].colltime)
                }
                option = {
                    color: ['#3398DB'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    title: {
                        text: '温度数据展示',
                        left: 'center'
                    },
                    xAxis: {
                        type: 'category',
                        data: address,
                        name: '地址值'
                    },
                    yAxis: {
                        type: 'value',
                        name: 'temp(℃)'
                    },
                    series: [{
                        data: temp,
                        type: 'line',
                        smooth: true
                    }]
                };
                tempChart.setOption(option);

                option = {
                    color: ['#ff5500'],
                    tooltip: {
                        trigger: 'axis',
                        boundaryGap: false,
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    title: {
                        text: '湿度数据展示',
                        left: 'center'
                    },
                    xAxis: {
                        type: 'category',
                        data: address,
                        name: '地址值'
                    },
                    yAxis: {
                        type: 'value',
                        name: 'hum(%)'
                    },
                    series: [{
                        data: hum,
                        type: 'line',
                        smooth: true,
                        areaStyle: {}
                    }]
                };

                humChart.setOption(option);
                option = {
                    color: ['#ff5500'],
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                            type: 'line'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    title: {
                        text: '超声波数据展示',
                        left: 'center'
                    },
                    xAxis: {
                        type: 'category',
                        data: address,
                        name: '地址值'
                    },
                    yAxis: {
                        type: 'value',
                        name: '(supersonic)lx'
                    },
                    series: [{
                        data: supersonic,
                        type: 'bar',
                        smooth: true
                    }]
                };
                supersonicChart.setOption(option);

                option = {
                    tooltip: {
                        trigger: 'item'
                    },
                    legend: {
                        top: '5%',
                        left: 'center'
                    },
                    series: [
                        {
                            name: '访问地址',
                            type: 'pie',
                            radius: ['40%', '70%'],
                            avoidLabelOverlap: false,
                            itemStyle: {
                                borderRadius: 10,
                                borderColor: '#fff',
                                borderWidth: 2
                            },
                            label: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    fontSize: '40',
                                    fontWeight: 'bold'
                                }
                            },
                            labelLine: {
                                show: false
                            },
                            data: [
                                {value: count1, name: 'can采集数据'},
                                {value: count2, name: 'rs485采集数据'}
                            ]
                        }
                    ]
                };
                addressChart.setOption(option);

                // option = {
                //     title: {
                //         text: '人体红外数据',
                //         subtext: '1-有人 0-无人',
                //         right: 'center'
                //     },
                //     tooltip: {
                //         trigger: 'item',
                //         formatter: '{a} <br/>{b} : {c} ({d}%)'
                //     },
                //     legend: {
                //         orient: 'vertical',
                //         left: 'left',
                //         data: ['有人', '无人']
                //     },
                //     series: [{
                //         name: "1分钟之内有人和无人比例",
                //         type: 'pie',
                //         radius: '70%',
                //         data: [
                //             {value: isPeople, name: '有人'},
                //             {value: 20 - isPeople, name: '无人'},
                //         ],
                //         emphasis: {
                //             itemStyle: {
                //                 shadowBlur: 10,
                //                 shadowOffsetX: 0,
                //                 shadowColor: 'rgba(0, 0, 0, 0.5)'
                //             }
                //         }
                //     }]
                // };
                // peopleChart.setOption(option);

            }
        })
    }

    setInterval("draw()", 2000);

</script>
</body>
</html>
